$itemsa-red: #d0302b;
$itemsa-brown: #901e1b;
$itemsa-oxford: #51615e;
$itemsa-white: rgb(255, 255, 255);
$itemsa-dark: rgb(34, 34, 34);
$itemsa-light: rgb(88, 88, 88);
$itemnsa-semi-white: rgb(230, 230, 230);
$itemnsa-border: rgb(227, 227, 227);
$itemsa-header-phone: rgb(42, 42, 42);

* {
  font-family: "Lato", sans-serif;
}
// FONTS
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

// BOTONES
.btn-red {
  text-decoration: none;
  color: $itemsa-white;
  button {
    background-color: $itemsa-red;
    color: $itemsa-white;
    text-transform: uppercase;
    padding: 1.2rem 1rem;
    font-size: 13px;
    margin: 0;
    border-radius: 5px;
    border: 0;
  }
}
.btn-white {
  text-decoration: none;
  color: $itemsa-white;

  button {
    background-color: $itemsa-white;
    color: $itemsa-red;
    text-transform: uppercase;
    padding: 1.2rem 1rem;
    font-size: 13px;
    margin: 0;
    border-radius: 5px;
    border: 0;
  }
}
// HEADER

.show-scroll.header-itemsa {
  background-color: #901e1b !important;
  .header-content {
    .border-nav:nth-child(2) {
      border-right: 1px solid #7f0505;
      border-left: 1px solid #7f0505;
    }
    .border-nav {
      border-bottom: 1px solid #7f0505;
    }
  }
}
.header-itemsa {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-content {
  padding-left: 2rem;
  .nav-item {
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    a {
      font-family: "Lato", sans-serif;
      color: $itemsa-white !important;
    }
    .dropdown-item {
      color: $itemsa-red !important;
    }
  }
}
.border-nav {
  border-bottom: 1px solid $itemnsa-border;
}
.border-nav:nth-child(2) {
  border-right: 1px solid $itemnsa-border;
  border-left: 1px solid $itemnsa-border;
}
.logo-content {
  display: grid;
  place-items: center;
}

.nav-phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .icon-phone {
    display: grid;
    position: relative;
    place-content: center;
    margin-right: 1.5rem;
    &:hover {
      &::before {
        background-color: $itemsa-red;
        border: 1px solid $itemsa-red;
        cursor: pointer;
      }
    }
    &::before {
      content: "";
      border: 1px solid rgb(255, 255, 255);
      border-radius: 50%;
      width: 45px;
      height: 45px;
      top: -12px;
      left: -11px;
      z-index: 0;
      position: absolute;
    }

    svg {
      z-index: 1;
      width: 22px;
      height: 22px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  a {
    color: $itemsa-white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lato", sans-serif;
  }
}
.btn-itemsa-primary {
  background-color: $itemsa-red;
  color: $itemsa-white;
  text-transform: uppercase;
  padding: 7px 15px;
  font-size: 14px;
  margin: 0;
  border-radius: 5px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  &:hover {
    background-color: $itemsa-brown;
    color: $itemsa-white;
  }
}

.bi-arrow-right-short {
  font-size: 1.8rem;
}
.logo-content-collapse {
  display: none;
}
.logo-itemsa {
  width: 4rem;
}
// BANNER

.banner {
  background-image: url(http://itemsa-mx.com/assets/banner-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.banner__image {
  font-family: "Lato", sans-serif;
  .row-banner {
    padding-left: 5rem;
    margin-top: 8rem;
  }
  h1 {
    color: $itemsa-white;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
  }
  p {
    margin-top: 2rem;
    padding-right: 6rem;
    color: $itemnsa-semi-white;
  }
}
.banner__image::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.41);
  z-index: -1;
  width: 100%;
  height: 100%;
}
.carousel-indicators {
  z-index: 3;
}
// SECTION ABOUT US
.section-about-us {
  padding: 8rem 0;
}
.about__paragraph {
  span {
    color: $itemsa-red;
    font-weight: 700;
  }
  h3 {
    color: $itemsa-dark;
    font-weight: 700;
    font-size: 40px;
  }
}
.about__stats {
  display: flex;
  flex-direction: column;
  justify-content: start;
  .stats_number {
    font-size: 60px;
    font-weight: 500;
    color: $itemsa-red;
  }
  p {
    color: $itemsa-light;
    font-weight: 300;
  }
}

.about__description {
  .row {
    .col-6 {
      ul {
        padding: 0 0 2rem 0;

        li {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.5rem;
          list-style: none;
          line-height: 2rem;
        }
      }
    }
  }
}

.about__image_content {
  display: grid;
  place-content: center;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .about__info {
    text-decoration: none;
    position: absolute;
    bottom: -30px;
    border-radius: 5px;
    left: 80px;
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $itemsa-red;
    .info_icon {
      svg {
        width: 3rem;
        height: 3rem;
      }
    }
    .info_text {
      p {
        color: $itemsa-white;
      }
    }

    .info_arrow {
      color: $itemsa-white;
    }
  }
}

//SECTION PRODUCTS
.section-products {
  margin-top: 8rem;
}
.products-content {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  span {
    color: $itemsa-red;
    font-weight: 700;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
.nav-pills {
  background-color: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $itemsa-red !important;
  font-weight: 700;
  background-color: $itemsa-white;
  border-radius: 0;
}
.products-list {
  .active {
    color: $itemsa-red !important;
    font-weight: 700;
  }
  .nav-item {
    text-align: center;
  }
  .products-item {
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: $itemsa-dark;
  }
}
.btn-products {
  width: 100%;
  justify-content: space-between;
}
.card-body {
  h5,
  span {
    font-size: 17px;
    line-height: 5px;
  }
}
.card {
  background: #ffffff;
  box-shadow: 5px 5px 60px rgba(190, 190, 190, 0.3);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}

// SECTION SERVICIOS
.servicios-header {
  span,
  h2,
  p {
    color: $itemsa-white;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
.section-servicios {
  background-image: url("http://itemsa-mx.com/assets/Banner-service.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 10rem 0;
  margin: 15rem 0 10rem 0;
  position: relative;
  z-index: 10;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(16, 16, 16, 0.6375) 0.01%,
      rgba(0, 0, 0, 0.85) 75%
    );
    background-blend-mode: darken;
  }
  .container-service {
    position: relative;
    z-index: 99;
  }
}
.service-items {
  border-radius: 5px;
  margin-bottom: 2rem;
}
.icon_service {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 5rem;
    height: 5rem;
  }
}
.service-items__content {
  padding: 3rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: $itemsa-red;
    border: 1px solid #d0302b;
  }
}
.icon_paragraph {
  color: $itemsa-white;
  text-align: center;
}
.service-items-wrap {
  margin: 5rem 0;
}

//SECTION CONTACT
.contact-info {
  background-color: $itemsa-red;
  padding: 2rem;
  border-radius: 5px;
  h5,
  h4 {
    color: $itemsa-white;
  }
  h4 {
    font-weight: 700;
    font-size: 35px;
  }
  p {
    color: $itemnsa-semi-white;
  }
}
.btn-contanct {
  background-color: $itemsa-white !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $itemsa-red;
  &:hover {
    color: $itemsa-brown;
  }
}
.contact-form-wrap {
  .contact-form {
    padding: 1rem 2rem 1rem 1rem;
    background: #f8f8f8;
    h2 {
      color: $itemsa-red;
      font-weight: 700;
    }
    p {
      color: $itemsa-light;
    }
    input {
      padding: 1rem;
    }
    textarea {
      min-height: 250px;
      max-height: 250px;
    }
  }
}
.btn-sumit {
  text-decoration: none;
  color: $itemsa-white;
  width: 200px;
  background-color: $itemsa-red;
  color: $itemsa-white;
  text-transform: uppercase;
  padding: 1.2rem 1rem;
  font-size: 13px;
  margin: 0;
  border-radius: 5px;
  border: 0;
}

//SECTION MARCAS
.section-marcas {
  margin: 10rem 0 0 0;
  h2 {
    font-size: 40px;
    font-weight: 700;
    color: $itemsa-light;
    text-align: center;
    margin-bottom: 1rem;
  }
  .marcas-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .marcas-image {
    img {
      width: 100%;
      height: 100%;
      padding: 3rem;
    }
  }
}

//FOOTER
footer {
  background-color: $itemsa-dark;
  color: $itemsa-white;

  .nav-footer {
    color: $itemsa-white;
    text-decoration: none;
  }
  h5 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
.list-unstyled {
  li {
    svg {
      fill: $itemsa-white;
    }
  }
}

// BOTON TOP
.btn-top {
  position: fixed;
  box-shadow: 0px 0px 10px 1px rgba(34, 34, 34, 0.429);
  z-index: 999;
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $itemsa-red;
  backdrop-filter: drop-shadow(2px 4px 6px black);
  transition: all 0.2s ease-in-out;
  svg {
    fill: $itemsa-white;
    width: 1rem;
    height: 1rem;
  }
}
.show-top.btn-top {
  width: 50px;
  height: 50px;
  cursor: pointer;
  bottom: 25px;
  right: 25px;
}
// MEDIA QUERYS
@media screen and (max-width: 1450px) {
  .navbar-content {
    padding: 0;
    .nav-item {
      padding: 0 0rem;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
    }
  }
  .header-itemsa {
    background-color: transparent;
    position: fixed;
  }
}
@media screen and (max-width: 1000px) {
  .header-itemsa {
    background-color: $itemsa-header-phone;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    border: 0;

    z-index: 1030;
  }
  .nav-content {
    display: flex;
    justify-content: flex-end;
  }
  .nav-phone {
    display: none;
  }
  .logo-content,
  .nav-phone,
  .nav-content {
    border: none !important;
  }
  .logo-content {
    display: none;
  }
  .navbar-light .navbar-toggler-icon {
    color: rgb(235, 235, 235);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28235, 235, 235, 100' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
  }
  .logo-content-collapse {
    display: block;
  }
  .navbar {
    width: 100% !important;
  }
}
@media screen and (min-width: 1006px) and (max-width: 1200px) {
  .nav-phone {
    a {
      font-size: 16px;
    }
  }
  .navbar-content {
    padding: 0;
    .nav-item {
      padding: 0 0rem;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  .btn-itemsa-primary {
    font-size: 13px;
    font-weight: 400;
  }
}
@media (min-width: 900px) and (max-width: 1005px) {
  .navbar-content {
    padding: 0;
    .nav-item {
      padding: 0 0rem;
      text-transform: uppercase;
      font-size: 10px;
    }
  }
  .btn-itemsa-primary {
    font-size: 13px;
    font-weight: 400;
  }
}
@media screen and (max-width: 500px) {
  .banner__image .row-banner {
    padding-left: 0rem;
    margin-top: 0rem;
  }
  .banner__image p {
    margin-top: 0rem;
    padding-right: 0rem;
    color: #e6e6e6;
  }
  .nav-phone {
    display: none;
  }
  .products-content {
    h2 {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }
    span {
      text-align: center;
    }
  }

  .btn-white,
  .btn-red {
    button {
      font-size: 10px;
    }
  }
  .btn-banner {
    margin-bottom: 1rem;
  }
  .banner__image,
  .banner {
    align-items: center;

    padding: 1rem;
  }
  .banner__image {
    h1 {
      font-size: 3rem;
    }
  }

  .logo-content {
    display: none;
  }

  .border-nav:nth-child(2) {
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0;
  }
  .logo-itemsa {
    width: 3rem;
  }
  .about__image_content {
    margin-top: 5rem;
    .about__info {
      width: 100%;
      top: 0;
      left: 0;
      height: 160px;
      position: relative;
    }
  }
  .section-about-us {
    padding-bottom: 1rem;
  }
  .section-products {
    margin-top: 5rem;
  }
  .section-servicios {
    margin-top: 5rem;
  }
  .container-service {
    .row {
      padding: 1rem;
    }
  }
  .service-items-wrap {
    margin-bottom: 0rem;
  }
  footer {
    .container {
      text-align: center;
    }
  }
}
